#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_configure:
	rm -rf src
	tar -xjf memlinkd.tar.bz2
ifeq ($(DEB_HOST_ARCH),arm64)
	cd src && cmake . -DFIT_FOR_AARCH64:STRING=TRUE
else
	cd src && cmake .
endif

override_dh_auto_build:
	$(MAKE) -C src VERBOSE=1

override_dh_auto_install:
	install -D -p -m 550 src/memlinkd debian/memlinkd/usr/sbin/memlinkd
	install -D -p -m 644 src/memlinkd.service debian/memlinkd/lib/systemd/system/memlinkd.service
	install -D -p -m 640 src/memlinkd.conf debian/memlinkd/etc/memlinkd.conf
	install -D -p -m 600 src/sysmonitor/memlinkd-daemon debian/memlinkd/etc/sysmonitor/process/memlinkd-daemon

override_dh_fixperms:
	dh_fixperms
	chmod 550 debian/memlinkd/usr/sbin/memlinkd
	chmod 640 debian/memlinkd/etc/memlinkd.conf
	chmod 600 debian/memlinkd/etc/sysmonitor/process/memlinkd-daemon

override_dh_installsystemd:
	dh_installsystemd --no-enable --no-start
